Repository weaveworks/profiles, pull requests merged in 2021-08, with the labels that each got.

#262 Adding slack notification when release is done
  .github/workflows/release.yaml
Labels: kind/feature

#261 Edit docs with some fixes/improvements
  userdocs/profiles.dev/docs/author-docs/kustomize-and-raw.md
  userdocs/profiles.dev/docs/author-docs/local-helm-chart.md
  userdocs/profiles.dev/docs/author-docs/profile-structure.md
  userdocs/profiles.dev/docs/tutorial-basics/install-a-profile.md
Labels: kind/docs, skip-release-notes

#270 Add missing env setup step
  userdocs/profiles.dev/docs/tutorial-basics/setup.md
Labels: kind/docs, skip-release-notes

#274 Update docs
  userdocs/profiles.dev/docs/installer-docs/generate-local-manifests.md
  userdocs/profiles.dev/docs/installer-docs/upgrading-profiles.md
  userdocs/profiles.dev/docs/installer-docs/using-catalogs.md
Labels: skip-release-notes

#269 Rename `prepare` to `install`
  userdocs/profiles.dev/docs/catalog-docs/add-profiles.md
Labels: skip-release-notes

#268 add bootstrap docs and make git-repository mandatory
  userdocs/profiles.dev/docs/installer-docs/installing-via-gitops.md
Labels: skip-release-notes, kind/docs

#276 Update bot token for corp#1911
  .github/workflows/release.yaml
Labels: skip-release-notes

#271 Refactor `search`, `list`, and `show` into `get`
  userdocs/profiles.dev/docs/catalog-docs/add-profiles.md
  userdocs/profiles.dev/docs/installer-docs/listing-installed-profiles.md
  userdocs/profiles.dev/docs/installer-docs/using-catalogs.md
Labels: kind/docs

#272 Install MLOps Profile with Weave GitOps Blog
  userdocs/profiles.dev/blog/2021-06-21-hello-world.md
  userdocs/profiles.dev/blog/2021-08-04-MLOps-Profile-with-Weave-GitOps.md
  userdocs/profiles.dev/docusaurus.config.js
  userdocs/profiles.dev/static/img/mlops.png
Labels: kind/docs

#278 Using a proper slack notiication action
  .github/workflows/release.yaml
Labels: skip-release-notes

#277 Rename `--profile-url` to `--profile-repo-url`
  userdocs/profiles.dev/docs/installer-docs/generate-local-manifests.md
  userdocs/profiles.dev/docs/installer-docs/installing-via-gitops.md
  userdocs/profiles.dev/docs/installer-docs/setting-values.md
  userdocs/profiles.dev/docs/tutorial-basics/install-a-profile.md
Labels: kind/improvement

#285 Rename GIT_TOKEN to GITHUB_TOKEN
  userdocs/profiles.dev/docs/tutorial-basics/setup.md
Labels: skip-release-notes

#254 Autogenerate schemas in userdocs
  .github/workflows/deploy-docs.yaml
  .gitignore
  Makefile
  api/v1alpha1/profile_types.go
  api/v1alpha1/profilecatalogsource_types.go
  api/v1alpha1/profileinstallation_types.go
  cmd/schema/main.go
  cmd/schema/schema_suite_test.go
  cmd/schema/schema_test.go
  config/crd/bases/weave.works_profilecatalogsources.yaml
  config/crd/bases/weave.works_profiledefinitions.yaml
  config/crd/bases/weave.works_profileinstallations.yaml
  go.mod
  go.sum
  userdocs/profiles.dev/README.md
Labels: skip-release-notes, kind/docs

#292 fix multiline string support in slack message
  .github/workflows/release.yaml
Labels: skip-release-notes

#295 reset status to nil after switching to manual list
  controllers/profilecatalogsource_controller.go
Labels: kind/bug

#298 Add notes for 0.2.0
  docs/release_notes/v0.2.0.md
Labels: skip-release-notes

#300 Add tickmarks to output in user docs
  userdocs/profiles.dev/docs/catalog-docs/add-profiles.md
  userdocs/profiles.dev/docs/installer-docs/generate-local-manifests.md
Labels: skip-release-notes, kind/docs

#294 Render json schemas in docs
  Makefile
  api/v1alpha1/profilecatalogsource_types.go
  userdocs/profiles.dev/docs/assets/schema/.keep
  userdocs/profiles.dev/docs/author-docs/profile-definition-schema.md
  userdocs/profiles.dev/docs/author-docs/profile-definition-schema.mdx
  userdocs/profiles.dev/docs/catalog-docs/catalog-source-schema.md
  userdocs/profiles.dev/docs/catalog-docs/catalog-source-schema.mdx
  userdocs/profiles.dev/src/components/Schema.js
  userdocs/profiles.dev/src/pages/markdown-page.md
Labels: skip-release-notes, kind/docs

#297 Updated the docs for generating local manifests
  userdocs/profiles.dev/docs/installer-docs/generate-local-manifests.md
  userdocs/profiles.dev/docs/installer-docs/installing-via-gitops.md
  userdocs/profiles.dev/docs/installer-docs/setting-values.md
  userdocs/profiles.dev/docs/installer-docs/using-catalogs.md
  userdocs/profiles.dev/docs/tutorial-basics/install-a-profile.md
Labels: skip-release-notes, kind/docs

#305 Don't generate readme when publishing docs
  Makefile
Labels: skip-release-notes

#306 Bump all the deps
  go.mod
  go.sum
Labels: skip-release-notes
